.env
node_modules
npm-debug.log
.DS_Store
*.code-workspace
output
# applications/*/screenshots
public/runner.css
public/fonts/
vendor/openintegration/dist/fonts/
.playwright-cli/*
applications/constellations-in-the-sky/assets/virtualsky/
